:root {
  /* COLORS */
  --prim-clr: #0f0f0f;
  --sec-clr: #fbfbfb;
  --accent-clr-red: #dc3433;
  --accent-clr-gold: #fbba24;
}
body {
  background-color: var(--prim-clr);
  min-height: 100vh;
  height: 100vh !important;
  position: relative;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
html {
  font-size: 16px;
  --prim-font: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  overflow: hidden;
}

.Main_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 50svw;
  background-color: var(--prim-clr);
  border-radius: 9px;
  border: 1px var(--sec-clr) solid;
  box-shadow: #ffffff18 0px 0px 20px;
  padding: 3rem;
  h1 {
    color: var(--accent-clr-gold);
    font-family: var(--prim-font);
    font-size: clamp(1.5rem, 2rem, 3rem);
  }
  a {
    text-decoration: none;
    background-color: var(--prim-clr);
    padding: 1rem;
    color: var(--sec-clr);
    border-radius: 5px;
    font-size: clamp(0.5rem, 1rem, 1.5rem);
    cursor: pointer;
    transition: 0.2s ease-in-out;
    border: 1px var(--sec-clr) solid;
  }
  a:hover {
    background-color: var(--accent-clr-gold);
    color: var(--prim-clr);
  }
  div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}
